
@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;


.projectsSection{
  width: 90%;
  margin: auto;
  padding-top: 5%;

  .contactTitleSection{
    
    @media(width > 1000px){
      padding-left: 15%;
    }
  }
  .sectionTitle{
    color: color.$vibrantRed;
    font-family: fonts.$Poppins;
    font-weight: bold;
    font-size: 2rem;

    @media(width > 1000px){
      padding-left: 15%;
    }

    .blackDetail{
      color: color.$blackColor;
    }
  }

  .projectsIntro{
    color: color.$blackColor;
    font-family: fonts.$Poppins;
    font-weight: 300;
    padding-left: 2.5%;

    @media(width > 1000px){
      padding-left: 17%;
    }

  }
}

.projects{
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 5%;
  
  @media(width > 1000px){
    width: 60%;
    margin: auto;
  }

  .project{
    width: 60%;
    background-color: color.$grayBckg;
    border-radius: 1rem;
    margin-bottom: 2.5%;
    margin: auto;
    text-align: center;
    padding: 0.5rem;

    @media (width >= 1000px) {
      width: 30%;
      background-color: color.$grayBckg;
      border-radius: 1rem;
      margin-bottom: 2.5%;
      margin: auto;
      text-align: center;
      padding: 0.5rem;
      transition: all ease-in 0.5s;

      &:hover{
        box-shadow: 0px 5px 12px color.$vibrantRed;
        transition: all ease-in 0.5s;
      }
    }

    .projectImage{
      border-radius: 0.5rem;
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .projectTitle{
      font-family: fonts.$Poppins;
      font-weight: 700;
      padding: 2%;
    }

    .projectTecs{
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: auto;
      padding: 2%;
    }

    .aboutProject{
      font-family: fonts.$Poppins;
      font-weight: 300;
      width: 90%;
      margin: auto;
      padding: 2%;
      font-size: 0.75rem;
    }

    .projectButtons{
      display: flex;
      justify-content: space-evenly;
      margin: auto;

      .targetButton{
        text-decoration: none;
      }

      .gitRepository{
        background-color: color.$blackColor;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        color: color.$pureWhite;
        display: flex;
        gap: 0.5rem;
        font-family: fonts.$Poppins;
        font-weight: 300;
      }

      .viewWeb{
        background-color: color.$vibrantRed;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        color: color.$pureWhite;
        display: flex;
        gap: 0.5rem;
        font-family: fonts.$Poppins;
        font-weight: 300;
      }
    }
  }
}