@use "../../../sass/colors" as color;
@use "../../../sass/fonts" as fonts;

.mediasIntro{
  padding-bottom: 21.8%;
  .mediasContent {
    display: flex;
    justify-content: center;
    gap: 8.9%;
    padding-bottom: 27px;

    @media(width > 1000px){
      gap: 4%;
    }
    .mediaTarget {
      color: color.$pureWhite;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: color.$vibrantRed;
      border-radius: 0.5rem;
      font-size: 35px;
      padding: 0.5rem;
    } 
  }
  
  .curriculoButton{
    margin: auto;
    align-items: center;
    display: flex;
    background-color: color.$vibrantRed;
    width: 40%;
    border-radius: 0.5rem;
    padding: 0.25rem ;
    a{
      text-decoration: none;
      color: color.$pureWhite;
      display: grid;
      padding: 2.5%;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .curriculoIcon{
        width: 40px;
      }
    }

    @media (width > 1000px){
      width: 20%;
    }

  }
}

.curriculoContent{
  text-align: start;
  .curriculoTitle{
    font-family: fonts.$Poppins;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .curriculoDetail{
    font-family: fonts.$Poppins;
    font-weight: 300;
    font-size: 0.8rem;
  }
}
