
:root{
    --bckg-color: #0e0e0e;
    --text-color: #ececec;
    --p-color: #878787
    --details: #F16529;
}

.light-theme{
    --bckg-color: #dbdbdb;
    --text-color: #0e0e0e;
    --details: #e76e3b;
}

html, body{
    color: var(--text-color);
    background-color: var(--bckg-color);
}

.trade{
    cursor: pointer;
}

.start-me-1st-css{
    height: 100vh;
}

#o{
    color: var(--details);
}

iframe{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    width: 398px;
    height: 650px;
}

#contatos{
    width: 400px;
}

#contatos img{
    width: 100px;
    height: 100px;
}