@font-face {
    font-family: 'cool';
    src: url(../fontes/cool.otf);
}

@font-face {
    font-family: 'cc';
    src: url(../fontes/cc.otf);
}

body{
    margin: auto;
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.text{
    font-family: 'cool';
    font-size: 20px;
}

#color{
    display: inline-block;
    color: goldenrod;
}

div.text{
    color: white;
    border-style: inset;
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 10px;
    border-color: goldenrod;
    margin: auto;
    width: 300px;
    text-align: center;
}

h1{
    font-family: 'cool';
    text-align: center;
    color: goldenrod;
    margin: auto;
}

a{
    font-family: 'cool';
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    color: goldenrod;
    text-decoration: none;
    letter-spacing: 0.75px;
}

a:hover{
    text-decoration: underline;
    animation: normal;
    transition: all 0.7s;
}

#imagens-s img{
    width: 250px;
    filter: grayscale(100%);
    border-radius: 10px;
}

#imagens-s img:hover{
    filter: saturate(100%);
    scale: 1.015;
    transition: all 0.8s;
}