

@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;


.aboutContent{
  padding-top: 150px;
  padding-bottom: 180px;

  @media(width > 1000px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin: auto;
    align-items: center; 
  }
  .aboutImage{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .aboutTitle{
    padding: 65px 0px 25px 0px;
    text-align: center;
    color: color.$vibrantRed;
    font-family: fonts.$Poppins;
    font-weight: bold;
    font-size: 2rem;

    @media(width > 1000px){
      text-align: start;
      padding: 0;
    }
  }

  .aboutText{
    font-family: fonts.$Poppins;
    font-weight: 300;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    @media(width > 1000px){
      text-align: start;
      margin: 0;
    }

    .textDetails{
      color: color.$vibrantRed;
    }
  }
}