

:root{
  --background-color : #101113;
  --text-color : #E3E4E5;
  --details : #E4DEDE;
  --cards: #373949;
  --cards-project-color: #8d8d8d;
  }
  
  .light-theme{
    --background-color: #E4DEDE;
    --text-color: #101113;
    --cards : #bcbcbcdf;
  }

  