

:root{
  --background-color : #181924;
  --text-color : #fff;
  --details : #E4DEDE;
  --cards: #373949;
  }
  
  .light-theme{
    --background-color: #E4DEDE;
    --text-color: #181924;
    --cards : #bcbcbcdf;
  }

  