

:root{
  --background-color : #050505;
  --text-color : #fff;
  --details : #E4DEDE;
  --cards: #373949;
  --cards-project-color: #8d8d8d;
  }
  
  .light-theme{
    --background-color: #E4DEDE;
    --text-color: #050505;
    --cards : #bcbcbcdf;
  }

  