@import "./colors";

.first-content {
  @media(width <1000px){
    max-width: 450px;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-self: center;
  align-content: center;
  align-items: center;
  .content-txt {
    margin: auto;
    width: 500px;
    h1.wellcome,
    h1.dev-name {
      color: var(--text-color);
    }
    h1.dev-name {
      color: #7AAABC;
      padding-top: 8px;
      font-size: 3rem;
    }
    p.start-txt {
      @media (width <= 760px){
        width: 390px;
        text-align: center;
        margin: auto;
      }
      padding-top: 7px;
      font-size: 1.4rem;
      color: var(--text-color);
    }

    div.link-images {
      width: 130px;
      padding-top: 10px;
      @media (width < 1200px){
        margin: auto;
      }
      a.link-image-target {
        text-decoration: none;
        img.link {
          width: 60px;
        }
      }
    }
  }
  .image-dev {
    @media (width > 1200px){
      margin: auto;
    }
    @media (width >= 760px) and (width <=1200px){
      margin-left: 25%;
    }
  }
}

@media (width <= 1200px){
  .first-content{
    display: block;
    text-align: center;
    div.content-txt{
      padding-top: 15%;
    }
    .image-dev{
      width: 25%;
    }
  }
}