

.first-content{
  min-height: 95vh;
  background-color: $bckg-dark;
  color: $light-text-color;
  text-align: center;
  padding-bottom: 9.25rem;
  h1.introduction{
    padding-top: 40%;
    width: 95%;
    margin: auto;
    font-size: $title-size;
  }
  h1.dev-name{
    padding-bottom: 0.8rem;
    font-size: $title-size;
  }
  p.start-txt{
    font-family: $Poppins;
    width: 85%;
    margin: auto;
    font-size: $text-size;
    padding-inline-start: 1.1rem;
  }
  a{
    text-decoration: none;
  }
}