
header.container-top{
  height: 4rem;
  background-color: $bckg-dark;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 0.75px solid white;
  nav.nav-bar{
    ul.search-list{
      display: flex;
      list-style: none;
      li.serach-item{
        display: none;
      }
      img.menu-button{
        padding-right: 0.95rem;
        width: 60px;
      }
    }
  }
}