
@import './colors';

.projects{
  padding-top: 20px;
  h1.projects-title{
    color: var(--text-color);
    font-size: 2.4rem;
    text-align: center;
    margin: auto;
  }
  p.about-latest-projects{
    padding: 10px;
    color: var(--text-color);
    font-size: 1.6rem;
    margin: auto;
    text-align: center;
    @media(width < 1000px){
      width: 80%;
    }
  }
  .projects-view{
    @media(width >= 1000px){
      display: grid;
      grid-template-columns: 60% 40%;
      margin: auto;
      width: 1000px;
    }

    .big-projects{
      padding-top: 10%;
      @media(width >=1000px){
        display: flex;
        justify-content: space-between;
      }
    }

    .project-main{
      border-radius: 20px;
      background-color: var(--cards);
      color: var(--text-color);
      @media (width >=1000px){
        img.project-image{
          width: 100%;
          border-radius: 20px 20px 10px 10px;
        }
        h2.project-title{
          padding: 10px 0px 10px 0px;
          text-align: center;
        }
        p.about-project{
          width: 90%;
          margin: auto;
          padding-bottom: 15px;
          text-align: center;
        }
        .icons{
          width: 100px;
          justify-content: space-between;
          display: flex;
          margin: auto;
  
          a.target-link{
            text-decoration: none;
            img.icons-project{
              width: 40px;
            }
          }
      }
      }
      @media(width >=1000px){
        width: 45%;
        height: 300px;
      }
    }

    .project-main{
      @media(width < 1000px){
        width: 60%;
        margin: auto;
        background-color: var(--cards);
        height: 300px;
        margin-bottom: 20px;
        img.project-image{
          border-radius: 20px 20px 10px 10px;
          width: 100%;
        }
        h2.project-title{
          text-align: center;
          padding-top: 15px;
        }
        p.about-project{
          width: 90%;
          text-align: center;
          margin: auto;
        }
        .icons{
          padding-top: 25px;
          width: 35%;
          display: flex;
          justify-content: space-between;
          margin: auto;
        }
        img.icons-project{
          width: 35px;
          margin: auto;
        }
      }
    }

    .sub-projects{
      padding-top: 15%;
      .project{
        display: grid;
        grid-template-columns: 120px 80%;
        margin: auto;
        background-color: var(--cards);
        width: 90%;
        height: 85px;
        img.sub-image{
          width: 100px;
          height: 85px;
        }
        h2.project-title-sub{
          height: 5px;
          padding-bottom: 2%;
          color: var(--text-color);
        }
        p.about-sub-project{
          color: var(--text-color);
        }
        a.see-more{
          text-decoration: none;
          color: var(--text-color);
          font-weight: bold;
       }
        }
      }
    }
  }