@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Open Sans", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
}

.hiddenN {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.6s ease;
}

.showN {
  transform: translateX(0);
  filter: blur(0px);
  transition: all 0.8s ease;
  opacity: 1;
}

header.container-top {
  height: 4rem;
  background-color: #1c1c1c;
  display: flex;
  justify-content: end;
  align-items: center;
}
header.container-top nav.nav-bar ul.search-list {
  display: flex;
  list-style: none;
}
header.container-top nav.nav-bar ul.search-list li.serach-item {
  display: none;
}
header.container-top nav.nav-bar ul.search-list img.menu-button {
  padding-right: 0.95rem;
  width: 60px;
}

#menuMobile {
  position: absolute;
  z-index: 2;
  width: 60%;
  left: 40%;
  text-align: end;
  background-color: #1c1c1c;
}
#menuMobile nav.nav-barMobile ul.mobileList {
  list-style-type: none;
}
#menuMobile nav.nav-barMobile ul.mobileList a.menu-target {
  color: #E3E4E5;
  text-decoration: none;
}
#menuMobile nav.nav-barMobile ul.mobileList a.menu-target li.mobileItem {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.first-content {
  height: 95vh;
  background-color: #1c1c1c;
  color: #E3E4E5;
  text-align: center;
  padding-bottom: 9.25rem;
}
.first-content h1.introduction {
  padding-top: 40%;
  width: 95%;
  margin: auto;
  font-size: 2.3rem;
}
.first-content h1.dev-name {
  padding-bottom: 0.8rem;
  font-size: 2.3rem;
}
.first-content p.start-txt {
  font-family: "Poppins", sans-serif;
  width: 85%;
  margin: auto;
  font-size: 1.125rem;
  padding-inline-start: 1.1rem;
}
.first-content a {
  text-decoration: none;
}

.about-dev {
  background-color: #efefef;
  color: #1c1c1c;
  padding-top: 5rem;
}
.about-dev img.image {
  display: flex;
  margin: auto;
}
.about-dev .dev-description h1.about-me {
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 1rem;
}
.about-dev .dev-description p.dev-infos {
  width: 95%;
  text-align: center;
  margin: auto;
  padding: 1rem 0rem 2.5rem 0rem;
  font-family: "Poppins", sans-serif;
}

.skills {
  background-color: #1c1c1c;
  color: #E3E4E5;
  padding: 4.525rem 0rem 4.525rem 0rem;
}
.skills h1.skillHub {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.125rem;
  padding-left: 2rem;
}
.skills .box-skill {
  padding: 2rem 0rem 2rem 0rem;
  border-bottom: 1px solid #efefef;
  width: 80%;
  margin: auto;
}
.skills .box-skill .skill-title {
  padding: 0.8rem;
}
.skills .box-skill .skillLogo {
  width: 30px;
  margin-left: 0.6rem;
}
.skills .box-skill p.about-skill {
  padding: 0rem 0rem 0rem 0.8rem;
}/*# sourceMappingURL=index.css.map */