@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Open Sans", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
}

.hiddenN {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.6s ease;
}

.showN {
  transform: translateX(0);
  filter: blur(0px);
  transition: all 0.8s ease;
  opacity: 1;
}

header.container-top {
  height: 4rem;
  background-color: #1c1c1c;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 0.75px solid white;
}
header.container-top nav.nav-bar ul.search-list {
  display: flex;
  list-style: none;
}
header.container-top nav.nav-bar ul.search-list a.search-target {
  text-decoration: none;
}
header.container-top nav.nav-bar ul.search-list li.serach-item {
  display: none;
}
@media (width >= 1204px) {
  header.container-top nav.nav-bar ul.search-list li.serach-item {
    display: block;
    text-decoration: none;
    color: #E3E4E5;
    padding-right: 1.2rem;
  }
}
header.container-top nav.nav-bar ul.search-list img.menu-button {
  padding-right: 0.95rem;
  width: 60px;
}
@media (width >= 1204px) {
  header.container-top nav.nav-bar ul.search-list img.menu-button {
    display: none;
  }
}

#menuMobile {
  position: absolute;
  z-index: 2;
  width: 60%;
  left: 40%;
  text-align: end;
  background-color: #1c1c1c;
}
@media (width >= 1024px) {
  #menuMobile {
    display: none;
  }
}
#menuMobile nav.nav-barMobile ul.mobileList {
  list-style-type: none;
}
#menuMobile nav.nav-barMobile ul.mobileList a.menu-target {
  color: #E3E4E5;
  text-decoration: none;
}
#menuMobile nav.nav-barMobile ul.mobileList a.menu-target li.mobileItem {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.first-content {
  background-color: #1c1c1c;
  color: #E3E4E5;
  text-align: center;
  padding-bottom: 9.25rem;
}
@media (width >= 1024px) {
  .first-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}
.first-content h1.introduction {
  padding-top: 40%;
  width: 95%;
  margin: auto;
  font-size: 2.3rem;
}
@media (width >= 1024px) {
  .first-content h1.introduction {
    padding-left: 3rem;
    padding-top: 30%;
    text-align: start;
    margin: 0;
  }
}
.first-content h1.dev-name {
  padding-bottom: 0.8rem;
  font-size: 2.3rem;
}
@media (width >= 1024px) {
  .first-content h1.dev-name {
    padding-left: 3rem;
    text-align: start;
  }
}
.first-content p.start-txt {
  font-family: "Poppins", sans-serif;
  width: 85%;
  margin: auto;
  font-size: 1.125rem;
  padding-inline-start: 1.1rem;
}
@media (width >= 1024px) {
  .first-content p.start-txt {
    padding-left: 3rem;
    margin: 0;
    width: 80%;
    text-align: start;
  }
}
.first-content a {
  text-decoration: none;
}
@media (width >= 1024px) {
  .first-content .link-images {
    padding-left: 3rem;
    display: flex;
    margin: 0;
  }
}
.first-content button.curriculo {
  margin-top: 0.5rem;
  background-color: #efefef;
  color: #1c1c1c;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: none;
  border-radius: 10px;
}
@media (width >= 1204px) {
  .first-content button.curriculo {
    display: flex;
    margin-left: 3rem;
  }
}

.about-dev {
  background-color: #efefef;
  color: #1c1c1c;
  padding-top: 5rem;
}
@media (width >= 1204px) {
  .about-dev {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about-dev img.image {
  display: flex;
  margin: auto;
}
@media (width >= 1204px) {
  .about-dev .dev-description {
    padding-right: 6rem;
  }
}
.about-dev .dev-description h1.about-me {
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 1rem;
}
@media (width >= 1204px) {
  .about-dev .dev-description h1.about-me {
    text-align: end;
    padding-right: 1rem;
    font-size: 3rem;
  }
}
.about-dev .dev-description p.dev-infos {
  width: 95%;
  text-align: center;
  margin: auto;
  padding: 1rem 0rem 2.5rem 0rem;
  font-family: "Poppins", sans-serif;
}
@media (width >= 1204px) {
  .about-dev .dev-description p.dev-infos {
    text-align: end;
    font-size: 1.2rem;
  }
}

.skills {
  background-color: #1c1c1c;
  color: #E3E4E5;
  padding: 4.525rem 0rem 4.525rem 0rem;
}
.skills h1.skillHub {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.125rem;
  padding-left: 2rem;
}
@media (width >= 1204px) {
  .skills .boxes {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .skills .boxes #frontend {
    padding: 2rem;
  }
  .skills .boxes #backend {
    padding: 2rem;
    border: none;
  }
}
.skills .box-skill {
  padding: 2rem 0rem 2rem 0rem;
  border-bottom: 1px solid #efefef;
  width: 80%;
  margin: auto;
}
@media (width >= 1204px) {
  .skills .box-skill {
    padding-right: 2rem;
    border: none;
    border-right: 1px solid #efefef;
  }
}
.skills .box-skill .skill-title {
  padding: 0.8rem;
}
.skills .box-skill .skillLogo {
  width: 30px;
  margin-left: 0.8rem;
}
.skills .box-skill p.about-skill {
  padding: 0rem 0rem 0rem 0.8rem;
}
.skills .box-skill .front-endTecs, .skills .box-skill .back-endTecs, .skills .box-skill .skillLogo {
  padding-bottom: 0.8rem;
}

.content-main {
  padding: 5rem 0rem 5rem 0rem;
  background-color: #1c1c1c;
  color: #E3E4E5;
}
.content-main .projects h1.sectionTitle {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-left: 0.8rem;
  letter-spacing: 0.025rem;
}
@media (width >= 1024px) {
  .content-main .projects h1.sectionTitle {
    padding-left: 4rem;
  }
}
.content-main .projects p.aboutProjects {
  width: 90%;
  padding-left: 0.8rem;
  font-size: "Poppins", sans-serif;
}
@media (width >= 1024px) {
  .content-main .projects p.aboutProjects {
    padding-left: 4rem;
    font-size: 1.2rem;
    padding-bottom: 3.2rem;
  }
}
.content-main .projects #projects-view .project {
  width: 90%;
  margin: auto;
  padding: 1.25rem 0rem;
  border-bottom: 1px solid #E3E4E5;
}
@media (width >= 1024px) {
  .content-main .projects #projects-view .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.content-main .projects #projects-view .project .project-image {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
}
.content-main .projects #projects-view .project .project-content h2.project-name {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
@media (width >= 1024px) {
  .content-main .projects #projects-view .project .project-content h2.project-name {
    text-align: start;
  }
}
.content-main .projects #projects-view .project .project-content p.project-description {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 1.125rem;
  padding: 0.9rem 0rem;
}
@media (width >= 1024px) {
  .content-main .projects #projects-view .project .project-content p.project-description {
    text-align: start;
    margin: 0;
  }
}
.content-main .projects #projects-view .project .project-content .project-tecs {
  padding-bottom: 1rem;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
}
@media (width >= 1024px) {
  .content-main .projects #projects-view .project .project-content .project-tecs {
    margin: 0;
    display: block;
  }
}
.content-main .projects #projects-view .project .project-content .project-tecs .tech-image {
  margin-left: 0.8rem;
}
.content-main .projects #projects-view .project .project-content .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}
@media (width >= 1024px) {
  .content-main .projects #projects-view .project .project-content .buttons {
    justify-content: start;
  }
}
.content-main .projects #projects-view .project .project-content .buttons .buttonTarget {
  width: 45%;
  background-color: #efefef;
  color: #1c1c1c;
  padding: 0.8rem 0.8rem;
  border: none;
  border-radius: 0.725rem;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
}

.contacts {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #efefef;
  color: #1c1c1c;
}
.contacts h1.sectionTitle {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  padding-left: 0.85rem;
}
.contacts p.moreContact {
  width: 90%;
  text-align: start;
  padding-left: 0.85rem;
}
@media (width >= 1024px) {
  .contacts p.moreContact {
    font-size: 1.2rem;
    width: 50%;
    padding-left: 1rem;
  }
}
.contacts p.moreContact::first-letter {
  padding-left: 1rem;
}
.contacts .social-links {
  padding-top: 1.3rem;
  padding-left: 0.85rem;
}
@media (width >= 1024px) {
  .contacts .social-links {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
  }
}
.contacts .social-links #github {
  border-right: 1px solid #1c1c1c;
  border-left: 1px solid #1c1c1c;
}
.contacts .social-links .media {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #1c1c1c;
  padding: 1rem 0rem 1.2rem 0rem;
}
@media (width >= 1024px) {
  .contacts .social-links .media {
    border: none;
    width: 330px;
    padding: 2rem;
  }
}
@media (width >= 1024px) {
  .contacts .social-links .media .about-media {
    font-size: 1.125rem;
  }
}
.contacts .social-links .media .about-media::first-letter {
  padding-left: 1rem;
}
.contacts .social-links .media .media-link {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1c1c1c;
}/*# sourceMappingURL=index.css.map */