:root {
    --bckg-color: #0e0e0e;
    --text-color: #ececec;
    --p-color: #878787;
    --details: #F16529;
}

.light-theme {
    --bckg-color: #dbdbdb;
    --text-color: #0e0e0e;
    --details: #e76e3b;
}


@font-face {
    font-family: 'nav';
    src: url(../fontes/cool.otf);
}

@font-face {
    font-family: 'titles';
    src: url(../fontes/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'text';
    src: url(../fontes/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--bckg-color);
    color: var(--text-color);
}

.orange {
    color: var(--details);
}

.trade-light-dark {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media screen and (max-width : 1199px) {

    .pc{
        display: none;
    }

    header.hdr-top {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

    h1.name-dev {
        font-family: 'titles';
        font-size: 1.4rem;
        align-self: center;
        padding: 20px;
    }

    ul.search-here {
        display: none;
    }

    section.portfolio-start {
        padding-top: 30%;
        height: 78vh;
    }

    h1.st-part {
        font-size: 3rem;
        font-family: 'titles';
        text-align: center;
    }

    p.text-top {
        text-align: center;
        width: 350px;
        margin: auto;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 0.06px;
        font-size: 1.5rem;
    }

    div.work-medias {
        padding-top: 5%;
        margin: auto;
        width: 170px;
        display: flex;
        justify-content: space-between;
    }

    .img-media {
        background-color: var(--details);
        border-radius: 20px;
        padding: 10px;
        width: 60px;
    }

    span.arrow {
        padding-top: 20%;
        justify-content: center;
        display: flex;
        text-align: center;
        margin: auto;
        color: var(--details);
    }

    section.about-dev {
        padding: 5% 0%;
        margin: auto;
    }

    h1.about-me {
        text-align: center;
        font-family: 'titles';
        font-size: 2.1rem;
    }

    p.description-short {
        text-align: justify;
        font-family: 'Fjalla One', sans-serif;
        line-height: 1.4;
        font-size: 1.3rem;
        width: 350px;
        margin: auto;
        padding-bottom: 7%;
    }

    .dev-img>img {
        width: 300px;
        border-radius: 50%;
        border: 0.5px solid var(--details);
        margin: auto;
        display: flex;
    }

    div.areas-linguagens {
        margin: auto;
        text-align: center;
    }

    h2.area-atuation {
        text-align: center;
        padding: 5%;
        font-size: 2rem;
        font-family: 'titles';
    }

    p.which-areas {
        font-size: 1.2rem;
        width: 320px;
        font-family: 'Fjalla One', sans-serif;
        margin: auto;
        padding: 5%;
    }

    div.linguagens {
        width: 300px;
        margin: auto;
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    img.linguagens-img {
        margin: auto;
        width: 60px;
    }

    main.main-content {
        padding-top: 10%;
        margin: auto;
        text-align: center;
    }

    h1.projects-hub {
        font-size: 2rem;
        font-family: 'titles';
    }

    p.about-they {
        font-size: 1.2rem;
        width: 350px;
        margin: auto;
        font-family: 'Fjalla One', sans-serif;
        padding: 5%;
    }

    .projects {
        margin: auto;
    }

    .img-projects {
        width: 350px;
        border-radius: 20px;
    }

    h3.project-name {
        font-size: 1.4rem;
        font-family: 'titles';
        padding: 9%;
    }

    p.about-project {
        width: 320px;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2rem;
        margin: auto;
        padding-bottom: 5%;
    }

    div.linguagens-utilizadas {
        width: 220px;
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }

    img.tecs {
        width: 50px;
    }

    .img-for-button {
        align-self: center;
        width: 20px;
        height: 20px;
    }

    .buttons-code-view {
        padding: 5%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 250px;
        gap: 25px;
    }

    button.view-target,
    .code-target {
        justify-content: space-between;
        letter-spacing: 1.25px;
        width: 120px;
        font-family: 'titles', sans-serif;
        border-radius: 10px;
        border: none;
        padding: 10px;
        background-color: var(--details);
        color: var(--bckg-color);
        font-size: 20px;
        cursor: pointer;
    }

   .buttons{
    padding: 5%;
        margin: auto;
    }

    footer.information-about{
        font-family: 'Fjalla One', sans-serif;
        height: 400px;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
        background-color: var(--details);
        color: var(--bckg-color);
    }

    .about-programer{
        float: left;
        padding: 20px;
    }

    span.atr-direct{
        font-size: 20px;
    }

    .dev-name{
        font-family: 'titles';        
        font-size: 2rem;
    }

    .contact a{
        color: var(--bckg-color);
        text-decoration: none;
    }
}

@media screen and (min-width : 1200px) {

    .cell{
        display: none;
    }

    header.hdr-top {
        height: 100px;
        width: 100%;
    }

    header.hdr-top>h1.name-dev {
        padding: 26px;
        font-family: 'titles';
        display: flex;
        float: left;
    }

    nav.nav-bar {
        justify-content: space-between;
        display: flex;
        float: right;
    }

    ul {
        list-style: none;
    }

    li.search-portfolio {
        padding: 30px 10px 0px 10px;
        display: inline-block;
    }

    li.search-portfolio>a {
        font-size: 1.4rem;
        letter-spacing: 0.05px;
        text-decoration: none;
        color: var(--text-color);
        font-family: 'nav';
    }


    li.search-portfolio>a:hover {
        color: var(--details);
        transition: all 0.8s;
    }


    a:hover {
        color: var(--details);
        transition: all .8s;
    }

    #icon {
        float: right;
        justify-content: center;
        display: flex;
    }

    /* area do primeiro paragrafo */

    section.portfolio-start {
        height: 85vh;
        padding-top: 3%;
    }

    h1.st-part {
        font-size: 3.5rem;
        letter-spacing: 1.25px;
        text-align: center;
        padding: 20px;
        font-family: 'titles';
    }

    p.text-top {
        font-family: 'Fjalla One', sans-serif;
        line-height: 1.8rem;
        padding-top: 7%;
        color: var(--text-color);
        padding: 20px 0px 20px 0px;
        letter-spacing: 1.2px;
        font-size: 1.6rem;
        width: 500px;
        text-align: center;
        margin: auto;
    }

    .work-medias {
        padding-top: 2%;
        width: 180px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img.img-media {
        background-color: var(--details);
        border-radius: 10px;
        padding: 12px;
        width: 40px;
        height: 40px;
        margin: auto;
        display: flex;
    }

    img.img-media:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 20px #99999967;
        transition: all .8s;
    }

    span.arrow {
        color: var(--details);
        display: flex;
        justify-content: center;
        padding-top: 5%;

    }

    /* novo paragrafo */

    section.about-dev {
        padding-top: 5%;
        height: 65vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    h1.about-me {
        text-align: end;
        color: var(--text-color);
        font-family: 'titles';
        font-size: 55px;
    }

    p.description-short {
        text-align: end;
        font-family: 'Fjalla One', sans-serif;
        font-size: 22px;
    }

    div.dev-img>img {
        border: 2px solid var(--text-color);
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    /* área tecnologias */

    .areas-linguagens {
        height: 85vh;
        padding-top: 5%;
    }

    h2.area-atuation {
        font-family: 'titles';
        text-align: center;
        font-size: 2.4rem;
        padding-bottom: 3%;
    }

    p.which-areas {
        text-align: center;
        margin: auto;
        width: 450px;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.6rem;
    }

    .linguagens {
        padding-top: 5%;
        margin: auto;
        gap: 50px;
        width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    img.linguagens-img {
        width: 80px;
        height: 80px;
        margin: auto;
        display: flex;
    }

    /* Projetos */

    h1.projects-hub {
        text-align: center;
        padding: 2.5%;
        font-family: 'titles';
        font-size: 1.6rem;
    }

    p.about-they {
        margin: auto;
        width: 300px;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2rem;
    }

    .projects {
        padding: 60px;
        margin: auto;
        gap: 50px;
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .end-img {
        display: flex;
        justify-content: end;
    }

    .img-projects {
        border-radius: 20px;
        width: 400px;
        height: 400px;
    }

    h3.project-name {
        font-size: 1.7rem;
        font-family: 'titles';
        padding-bottom: 2%;
    }

    p.about-project {
        font-size: 1.2rem;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 0.4px;
        padding-bottom: 3%;
    }

    .linguagens-utilizadas {
        width: 180px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 3%;
    }

    .tecs {
        width: 40px;
    }

    .img-for-button {
        align-self: center;
        width: 20px;
        height: 20px;
    }

    .buttons-code-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
        gap: 25px;
    }

    button.view-target,
    .code-target {
        justify-content: space-between;
        letter-spacing: 1.25px;
        width: 200px;
        font-family: 'titles', sans-serif;
        border-radius: 10px;
        border: none;
        padding: 10px;
        background-color: var(--details);
        color: var(--bckg-color);
        font-size: 20px;
        cursor: pointer;
    }

    .view-target,
    .code-target:hover {
        transform: scale(1.01);
        transition: all .6s;
        box-shadow: 0px 0px 20px #99999967;
    }

    footer.information-about{
        height: 300px;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
        background-color: var(--details);
        color: var(--bckg-color);
    }

    .about-programer{
        font-family: 'Fjalla One', sans-serif;
        padding: 20px;
    }

    span.atr-direct{
        font-size: 22px;
    }

    .dev-name{
        font-family: 'titles';
        font-size: 2.5rem;
    }

    .contact a{
        color: var(--bckg-color);
        text-decoration: none;
    }

    .directs-for{
        width: 300px;
        text-align: justify;
        padding: 10px;
    }

    .simbols{
        display: flex;
        justify-content: center;
    }

    img#simbols{
        cursor: pointer;
        width: 100px;
        height: 100px;
    }
}