@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;

.containerTop{
  display: flex;
  top: 0;
  width: 90%;
  margin: auto;
  background-color: color.$pureWhite;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
  height: 80px;
  border-bottom: 1px solid color.$vibrantRed;

  .imageLogo{
    width: 44px;
    height: 47px;
  }

  .menuButton{
    border: none;
    color: color.$blackColor;
    font-size: 39px;
    padding-top: 2.5%;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.25s ease-in;
    @media (width >1000px){
      display: none;
    }
  }

  .active{
    color: color.$pureWhite;
    position: absolute;
    z-index: 3;
    left: 85%;
  }

  .navbar{
    @media(width< 1000px){
      display: none;
    }
    .navList{
      list-style-type: none;
      display: flex;
      gap: 1rem;
      .navItem{
        .itemTarget{
          text-decoration: none;
          font-family: fonts.$Poppins;
          font-weight: 600;
          color: color.$blackColor;
          transition: all 0.3s ease-in;

          &:hover{
            font-size: 1.2rem;
            color: color.$vibrantRed;
          }
        }
      }
    }
  }
}