@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;

.introContainer{
  display: block;
  text-align: center;
  width: 85%;
  margin: auto;
  padding-top: 160px;

  .welcomeContent{
    font-size: 0.75rem;
    font-family: fonts.$OpenSans;
  }

  .prof{
    font-family: fonts.$InstrumentSans;
    font-size: 1rem;
    font-weight: medium;
  }

  .prof{
    color: color.$vibrantRed;
    font-weight: bold;
  }

  .textWriter{
    font-family: fonts.$Poppins;
    font-weight: 700;
    color: color.$blackColor;
    font-size: 1.8rem;
  }

  .introText{
    padding-bottom: 9.2%;
    padding-top: 2%;
    margin: auto;
    text-align: center;
    display: block;
    font-family: fonts.$Poppins;
    font-weight: 300;
    font-size: 0.9rem;
    @media(width > 1000px){
      width: 45%;
      padding-bottom: 2%;
    }
  }
}