@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;

.red{
  color: color.$vibrantRed; 
  font-size: 2rem;
}

.introContainer{
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 10%;

  .welcomeContent, .prof{
    font-size: 0.8rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: start;
  }

  .prof{
    color: color.$vibrantRed;
    font-weight: bold;
  }

  .textWriter{
    font-family: fonts.$Poppins;
    font-weight: 700;
    color: color.$blackColor;
    font-size: 1.8rem;

    div{
      &:first-letter{
        color: color.$vibrantRed;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .introText{
    padding: 0.5rem;
    width: 85%;
    margin: auto;
    text-align: center;
    display: block;
    font-family: fonts.$Poppins;
    font-weight: 400;
    font-size: 0.9rem;
  }
}