@use "./sass/colors" as color;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  scroll-behavior: smooth;
  background-color: color.$pureWhite;
}

.redLetter{
  color: color.$vibrantRed;
  font-size: 2rem;
}