@use "./sass/colors" as color;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  scroll-behavior: smooth;
  background-color: color.$pureWhite;
  scrollbar-width: thin; 
  scrollbar-color: color.$vibrantRed transparent; 

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color.$vibrantRed; 
    border-radius: 4px;
    border: 2px solid transparent; 
    background-clip: content-box; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: color.$vibrantRed; 
  }

  &::-webkit-scrollbar-corner {
    background: transparent; /* Canto entre barras horizontal e vertical */
  }
}

.redLetter{
  color: color.$vibrantRed;
  font-size: 2rem;
}